# Homework 1: Introduction to Machine Learning

https://github.com/DataTalksClub/machine-learning-zoomcamp/blob/master/cohorts/2024/01-intro/homework.md

In [1]:
import pandas as pd
import numpy as np
import wget

In [73]:
pd.__version__

'2.2.1'

In [2]:
# Descargar archivo CSV usando wget
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv"
wget.download(url, 'laptops.csv')

# Cargar el archivo CSV en un DataFrame
data = pd.read_csv('laptops.csv')

# Mostrar las primeras filas
df = pd.DataFrame(data)
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [3]:
df.describe()

               RAM      Storage       Screen  Final Price
count  2160.000000  2160.000000  2156.000000  2160.000000
mean     15.413889   596.294444    15.168112  1312.638509
std       9.867815   361.220506     1.203329   911.475417
min       4.000000     0.000000    10.100000   201.050000
25%       8.000000   256.000000    14.000000   661.082500
50%      16.000000   512.000000    15.600000  1031.945000
75%      16.000000  1000.000000    15.600000  1708.970000
max     128.000000  4000.000000    18.000000  7150.470000

In [4]:
#Q2. Records count
#How many records are in the dataset?
df.shape

(2160, 12)

In [5]:
df.columns

Index(['Laptop', 'Status', 'Brand', 'Model', 'CPU', 'RAM', 'Storage',
       'Storage type', 'GPU', 'Screen', 'Touch', 'Final Price'],
      dtype='object')

In [16]:
#Q3. Laptop brands
#How many laptop brands are presented in the dataset?
df['Brand'].nunique()

27

In [17]:
#Q4. Missing values
#How many columns in the dataset have missing values?
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [23]:
#Q5. Maximum final price
#What's the maximum final price of Dell notebooks in the dataset?
df[df["Brand"] == "Dell"]["Final Price"].max()

3936.0

In [24]:
#Q6. Median value of Screen
#1.Find the median value of Screen column in the dataset.
#2.Next, calculate the most frequent value of the same Screen column.
#3.Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
#4.Now, calculate the median value of Screen once again.

df['Screen'].median()

15.6

In [26]:
screen_mode = df['Screen'].mode()
screen_mode

0    15.6
Name: Screen, dtype: float64

In [27]:
df['Screen'].fillna(screen_mode,inplace=True)

In [28]:
df['Screen'].median()

15.6

In [31]:
#Q7. Sum of weights
#Select all the "Innjoo" laptops from the dataset.
#Select only columns RAM, Storage, Screen.
#Get the underlying NumPy array. Let's call it X.
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
#Compute the inverse of XTX.
#Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
#What's the sum of all the elements of the result?

innjoo_laptops = df[df["Brand"] == "Innjoo"][["RAM", "Storage", "Screen"]]
innjoo_laptops.head()

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1

In [64]:
X = np.array(innjoo_laptops)
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [65]:
XT=X.T

In [66]:
XTX = np.dot(X, XT)

In [67]:
inv = np.linalg.pinv(XTX)

In [68]:
Y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [70]:
result = np.dot(XT, inv)

In [71]:
W = np.dot(result,Y)

In [72]:
W.sum()

91.29988062983693